@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body, html{
    background-color: #5F2C82;
    width: 100vw;
    height: 100vh;
}

#chave {
    width: 25px;
    height: 25px;
    background-color: #5F2C82;
    display: inline-block;
    margin: 0px;
}

#login{
    width: 25px;
    height: 25px;
    background-color: #5F2C82;
    margin-top: 5px;
}


main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#cadastro{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.456);
    width: 250px;
    height: 500px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imagem{
    background-image: url(imagens/predio.jpg);
    width: 250px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
}

h1{
    padding: 0px;
    margin: 10px;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}

p{
    text-align: left;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
}

#ilogin{
    background-color: #94CFCD;
    border: none;
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
}

#isenha{
    background-color: #94CFCD;
    border: none;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
}

#ilogin:checked{
    background-color: white;

}

div#formulario{
    padding: 10px;
}



#entrar{
    color: white;
    background-color: #78b6b5;
    border: none;
    box-shadow: none;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #2d646234;
    margin-top: 5px;
}

#entrar:hover{
    background-color: #2D6462;
}

#esqueci{
    color: #2D6462;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #2d646234;
    margin-top: 5px;
    margin-bottom: 30px;
}

#esqueci:hover{
    background-color: #6CD3CF;
}
