@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient(to bottom, #5F2C82, #78b6b5);
    }

    #cadastro{
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.456);
        width: 623px;
        height: 270px;
        
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    div#imagem{
        height: 270px;
        width: 180px;
        border-radius: 20px 0px 0px 20px;
        position: relative;
        text-align: right;
    }

    #formulario{
        display: inline-block;
    }
    
}